<!DOCTYPE html>
<html lang="en" style="height: 100%">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>

    <meta name="viewport" content="width=1000, initial-scale=1.0, maximum-scale=1.0">
    {% block head %}

    <!-- Loading Bootstrap -->
    <link href="{{ url_for('static', filename='css/vendor/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Loading Flat UI -->
    <link href="{{ url_for('static', filename='css/flat-ui.css') }}" rel="stylesheet">

    <link rel="shortcut icon" href="dist/favicon.ico">


    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="{{ url_for('static', filename='scripts/html5shiv.js') }}"></script>
      <script src="{{ url_for('static', filename='scripts/respond.min.js') }}"></script>
    <![endif]-->
    {% endblock %}
  </head>
<body>
    {% block body %}

    {% endblock %}
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{{ url_for('static', filename='scripts/jquery-3.3.1.min.js') }}"></script>
    <!-- Bootstrap 4 requires Popper.js -->
    <script src="{{ url_for('static', filename='scripts/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/flat-ui.js') }}"></script>
    {% block footer %}
    {% endblock %}
    <script src="{{ url_for('static', filename='scripts/jquery.serialize-object.min.js') }}"></script>
</body>
</html>