body {
  padding-top: 40px;
  padding-bottom: 40px;
}
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}

#placeholders {
  position: absolute;
  left: 50%;
  margin-left: -100px;
}

.table tbody tr td input {
            width: 20px;
            margin-left: 5px;
        }
        .table th, .table td
        {
            text-align:center;
        }
        .above {
            margin-top: 10px;
            width: 80%;
            margin-left: auto;
            margin-right: auto;
        }