<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">    <!-- put icon that you download here-->
    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <link href="../static/css/jumbotron-narrow.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/audit.css" rel="stylesheet">
</head>
<body>

<div class="header">
    <nav>
        <ul class="nav navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <ul class="nav nav-pills pull-right">
            <li role="presentation"><a href="logout">Log Out</a>
            </li>
        </ul>
    </nav>
    <h3 class="text-muted">Audit Engine</h3>
</div>

<div class="above">
    <div class="header">
        <h4>Fill in preferences for paper ballot:</h4>
        <p>ElectorateNm:</p>
        <p>VoteCollectionPointNm:</p>
        <p>VoteCollectionPoint:</p>
        <p>BatchNo:</p>
        <p>PaperNo:</p>
    </div>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>A</th>
            <th>B</th>
            <th>C</th>
            <th>D</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>LOGO1</td>
            <td>LOGO2</td>
            <td>LOGO3</td>
            <td></td>
        </tr>
        <tr>
            <td>
                PARTY
                <input type="text" value="1"/>
            </td>
            <td>
                PARTY
                <input type="text" value="2"/>
            </td>
            <td>
                PARTY
                <input type="text" value="3"/>
            </td>
            <td>
                <input type="text"/>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<hr>

<div class="above">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>PARTY</th>
            <th>PARTY</th>
            <th>PARTY</th>
            <th>PARTY</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                NAME1
                <input type="text"/>
            </td>
            <td>
                NAME3
                <input type="text"/>
            </td>
            <td>
                NAME5
                <input type="text"/>
            </td>
            <td>
                NAME7
                <input type="text" value="4"/>
            </td>
        </tr>
        <tr>
            <td>
                NAME2
                <input type="text"/>
            </td>
            <td>
                NAME4
                <input type="text"/>
            </td>
            <td>
                NAME6
                <input type="text"/>
            </td>
            <td>
                NAME8
                <input type="text" value="5"/>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="pull-left">
        <a href="Auditing">
            <button>Back to the previous ballot</button>
        </a>
    </div>
    <div class="pull-right">
        <a href="Auditing">
            <button>Confirm to enter next ballot</button>
        </a>
    </div>
</div>

</body>
</html>