<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Web Application to run election audits.">
    <meta name="author" content="Zara Perumal, Berj Chiligirian">

    <title>Audit Engine</title>

    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/jumbotron-narrow.css" rel="stylesheet">

</head>
  <body>
    <div class="header">
            <nav>
                <ul class="nav navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                </ul>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation"><a href="showSignIn">Sign In</a>
                    </li>
                    <li role="presentation"><a href="showSignUp">Sign Up</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">Audit Engine</h3>
    </div>


    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <p>Unauthorized Access:: Python Flask Bucket List App</p>
          <h1>{{error}}</h1>
      </div>
    </div>


      <hr>

      <footer>
        <p>&copy; Zara Perumal 2016</p>
      </footer>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
  </body>
</html>